//=======================================
// Fonts
//=======================================

@font-face {
  font-family: 'fontello';
  src: url('../../font/fontello.eot?44970337');
  src: url('../../font/fontello.eot?44970337#iefix') format('embedded-opentype'), url('../../font/fontello.woff?44970337') format('woff'), url('../../font/fontello.ttf?44970337') format('truetype'),
    url('../../font/fontello.svg?44970337#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
